html {
    font-family: sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 480px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.395);
    overflow: hidden;
    margin: 0 30px;
}

.container .forms {
    display: flex;
    align-items: center;
    background-color: #1d1d1d;
    width: 170%;
    transition: height 0.2s ease;
}

.forms {
    box-shadow: 10px 10px 10px red;
}

.container .form {
    width: 50%;
    padding: 30px;
    background-color: #1d1d1d;
    transition: margin-left 0.18s ease;
}

.container .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms {
    height: 600px;
}

.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    /*height: 25px;*/
    width: 100%;
    /*margin-top: 30px;*/
}

.input-field input {
    margin-top: 5px;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -22px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin-right: 10px;
    accent-color: #4070f4;

    /* margin-bottom: 7px; */
}


.form .text {
    color: #333;
    font-size: 16px;
}

.form a.text {
    color: #116901;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 23px;
}

.form .button input {
    background-color: #160169;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #010569;

}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}

.heading {
    border-radius: 0.5rem;
    text-align: center;
    margin: auto;
    color: #000;
    font-size: xx-large;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;

}

.inputs {
    display: flex;
    flex-direction: column;
    /*margin-bottom: 20px;*/
    /*margin-top: 25px;*/
    margin-inline: auto;
}

.inputs label {
    color: #000000;
    font-weight: 600;
    font-size: medium;
    font-family: 'PT Sans', sans-serif;
}

.inputs input {
    flex: 1;
    padding: 13px;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    border-radius: 20px;
    font-size: 16px;
    transition: all 0.2s ease-out;
    color: #000;
    font-weight: 300;
    font-family: 'PT Sans', sans-serif;
}

.form-check {
    margin-top: 10px;
    display: inline-block;
}

.form-check .forgot {
    text-decoration: none;
    color: #010869;
    font-weight: 600;
    margin-top: 50px;
}

.inputs label {
    color: #000000;
    font-weight: 600;
    font-size: medium;
    font-family: 'PT Sans', sans-serif;
}

.forgot {
    /* float: right; */
}

.forgot a {
    color: #011669;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;

}

.login-btn {
    height: 42px !important;
}

/* sign-up css */
.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    /* background: #4070f4; */
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

form .input-box label.details1 {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #9b59b6;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

form input[type="radio"] {
    /* display: none; */
}

form .button {
    height: 45px;
    margin: 35px 0
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #4070f4;
}

form .button input:hover {
    background: #4070f4;
}

.col-12 {
    margin-top: 15px;
    width: auto;
}

.col-md-6 {
    width: 45%;
    display: inline-block;
    margin: 15px;
}

.select-control {
    margin-top: 5px;
    padding: 13px;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    border-radius: 15px;
    font-size: 16px;
    transition: all 0.2s ease-out;
    color: #000;
    font-weight: 300;
    font-family: 'PT Sans', sans-serif;
}

label {
    color: #888 !important;
}