.account-container {
    padding: 40px;
    height: calc(100vh - 72px);
}

.account-container h3 {
    margin: 0;
    display: inline-block;
    color: var(--primary-color);
    font-weight: lighter;
    padding-bottom: 5px;
    opacity: 0.65;
}

.account-cards {
    display: flex;
    gap: 50px;
    margin-block: 10px 40px;
}

.new-account-card {
    cursor: pointer;
    width: 200px;
    height: 50px;
    display: grid;
    overflow: hidden;
    border-radius: 10px;
    grid-template-columns: 1fr 3fr;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.new-account-card div {
    position: relative;
    color: #333;
    user-select: none;
    pointer-events: none;
    background-color: #ccc;
    font-family: sans-serif;
}

.new-account-card div img {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-account-card span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    color: #ccc;
    background-color: #252525;
}

.account-details {
    padding: 15px;
    opacity: 0.65;
    display: grid;
    color: #fff;
    grid-template-columns: 1fr 2px 1fr 2px 1fr 2px 0.5fr;
    grid-gap: 20px;
}

.account-details-card h4 {
    text-overflow: ellipsis;
}

.account-details-card h5 {
    font-weight: lighter;
    color: #ccc;
}

.acc-details-divider {
    height: 100%;
    width: 1px;
    background-color: var(--secondary-color);
}

.account-debit-card-div {
    width: 40%;
    margin-block: 10px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0.65;
    overflow: hidden;
}

.debit-card-header {
    padding: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--primary-bg);
}

.debit-card-header img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.debit-card-body {
    background-color: #FFFFFF;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px 1fr;
}

.db-body-title {
    display: flex;
    align-items: center;
    font-weight: lighter;
    font-size: 0.8rem;
    color: #555;
}

.db-body-content {
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
}

.new-acc-detail-grid {
    overflow: hidden;
    width: 50vw;
    display: grid;
    grid-gap: 2px;
    border-radius: 10px;
    background-color: #0c0c0c;
    grid-template-columns: 200px 1fr;
}

.acc-detail-header {
    background-color: #cccccc;
    color: #1d1d1d;
}

.acc-detail-body {
    background-color: #1d1d1d;
    color: #CCC;
}

.acc-detail-header, .acc-detail-body {
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    padding-inline: 10px;
}

.new-acc-select {
    all: unset;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.acc-detail-body.select-control {
    position: relative;
}

.acc-detail-body.select-control::before {
    position: absolute;
    content: "▼";
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #CCC;
    z-index: 1000;
}

.account-container.create {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-acc-btn {
    all: unset;
    cursor: pointer;
    width: 100px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    text-align: center;
    background-color: #1d1d1d;
    margin-top: 25px;
    margin-right: 20px;
}

.beneficiary-container {
    margin: 50px;
    display: grid;
    grid-template-columns: 290px 1fr;
    grid-gap: 20px;
    justify-content: center;
}

.content-main-req {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-main-req-div {
    border: 3px solid white;
    width: 290px;
    height: fit-content;
    display: grid;
    padding: 20px;
    border-radius: 20px;
    grid-template-columns: 1fr 1fr;
}

.request {
    font-size: 19px;
    height: 40px;
    border-radius: 10px;
    padding: 6px;
}

.credit {
    font-size: 19px;
    height: 40px;
    border-radius: 10px;
    padding: 6px;
}

.amount {
    font-size: 19px;
    height: 40px;
    border-radius: 10px;
    padding: 6px;
}

.transfer-btn {
    width: 100%;
}

.trans {
    font-size: 19px;
    height: 40px;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
}

.beneficiary-list {
    width: 100%;
    height: 100%;
    overflow: auto;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
    background-color: #252525;
}

table {
    border-radius: 15px;
    overflow: hidden;
}

tr {
    border-radius: 15px;

}

.user-accounts-div {
    height: 100%;
}

.user-account-header,
.user-account {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30px 2px 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr;
}

.user-account-header {
    background: #CCC;
    margin-top: 15px;
}

.user-account-header .user-account-card {
    color: #1d1d1d;
    font-weight: bolder;
}

.user-account {
    color: #ccc;
    background: #252525;
    margin-bottom: 10px;
}

.user-account-card {
    color: #ccc;
}

.user-account-divider {
    height: 100%;
    width: 1px;
    background-color: #666;
}

.user-account-header .user-account-divider {
    background-color: var(--secondary-color);
}

.user-accounts-div {
    grid-column: span 2;
    height: 100%;
    padding: 20px;
    overflow: hidden;
    border-radius: 15px;
    background-color: #1d1d1d;
}

.user-accounts {
    overflow-y: auto;
    height: calc(100vh - 285px);
    margin-top: 10px;
    overflow-y: scroll;
}

.dash-recent-transactions {
    height: 160px;
    overflow: auto;
}

.recent-transaction.no-req {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
  font-size: 1.5rem;
  font-weight: bolder;
}

.no-req {
    background-color: transparent;
    border: #ccc 3px dashed;
    color: #ccc;
}


.user-account.no-req {
    display: flex;
    align-items: center;
    color: #ccc;
    height: 150px;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bolder;
    justify-content: center;
    border: #ccc 2px dashed;
}

.user-account-card, .user-account div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-account-card.active {
    background-color: #1d1d1d;
    border-radius: 5px;
    color: #fff;
}

/* USER PAGE START */

.user-page-div {
    height: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.user-details-base {
    border-radius: 15px;
    padding: 20px;
    background-color: #1d1d1d;
}

.user-accounts-base {
    border-radius: 15px;
    padding: 20px;
    background-color: #1d1d1d;
}

.user-transactions-base {
    border-radius: 15px;
    background-color: #1d1d1d;
    padding: 20px;
}

.recent-transaction-header,
.recent-transaction {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: .9rem;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30px 2px 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr;
}

.recent-transaction-header {
    background: #CCC;
    margin-top: 10px;
}

.recent-transaction-header .recent-transaction-card {
    color: #1d1d1d;
    font-weight: bolder;
}

.recent-transaction {
    color: #ccc;
    background: #252525;
    margin-top: 10px;
}

.recent-transaction-card {
    color: #ccc;
}

.recent-transaction-divider {
    height: 100%;
    width: 1px;
    background-color: #666;
}

.recent-transaction-header .recent-transaction-divider {
    background-color: var(--secondary-color);
}

.dash-recent {
    height: 200px;
}

.user-accounts-container {
    padding-top: 10px;
    height: calc(100vh - 500px);
}

.uaccount-card {
    gap: 20px;
    width: 100%;
    height: 40px;
    padding: 5px 10px 5px 5px;
    display: flex;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    align-items: center;
    background-color: #ccc;
}

.uacc-bal {
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 3px;
    display: flex;
    flex-basis: 80%;
    border-radius: 5px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.uacc-bal.active span {
    display: none;
}

.uacc-bal span {
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    background-color: rebeccapurple;
}

/* USER PAGE END */

.user-details-container {
    display: grid;
}

.action-buttons {
    display: flex;
    gap: 10px;
    padding: 20px;
    padding-bottom: 0;
    flex-direction: row-reverse;
}

.action-btn {
    cursor: pointer;
    border: none;
    padding: 10px;
    display: flex;
    color: #fff;
    gap: 5px;
    font-size: 1rem;
    border-radius: 5px;
    align-items: center;
    border: 2px solid crimson;
}

.action-btn.delete {
    background-color: crimson;
}

.action-btn.block {
    background-color: #333;
}