.account-container {
    margin: 50px;
}

.account-container h3 {
    margin: 0;
    display: inline-block;
    color: var(--primary-color);
    font-weight: lighter;
    padding-bottom: 5px;
    opacity: 0.65;
}

.account-cards {
    display: flex;
    gap: 50px;
    margin-block: 10px 40px;
}

.new-account-card {
    cursor: pointer;
    width: 220px;
    height: 50px;
    display: grid;
    overflow: hidden;
    border-radius: 10px;
    grid-template-columns: 1fr 3fr;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.new-account-card div {
    position: relative;
    color: #333;
    user-select: none;
    pointer-events: none;
    background-color: #ccc;
    font-family: sans-serif;
}

.new-account-card div img {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-account-card span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    color: #ccc;
    background-color: #252525;
}

.account-details {
    margin-block: 10px 40px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0.65;
    display: grid;
    grid-template-columns: 1fr 2px 1fr 2px 1fr;
    grid-gap: 20px;
}

.account-details-card h5 {
    font-weight: lighter;
}

.acc-details-divider {
    height: 100%;
    width: 1px;
    background-color: var(--secondary-color);
}

.account-debit-card-div {
    width: 40%;
    margin-block: 10px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0.65;
    overflow: hidden;
}

.debit-card-header {
    padding: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--primary-bg);
}

.debit-card-header img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.debit-card-body {
    background-color: #FFFFFF;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px 1fr;
}

.db-body-title {
    display: flex;
    align-items: center;
    font-weight: lighter;
    font-size: 0.8rem;
    color: #555;
}

.db-body-content {
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
}

.new-acc-detail-grid {
    overflow: hidden;
    width: 50vw;
    display: grid;
    grid-gap: 2px;
    border-radius: 10px;
    background-color: #0c0c0c;
    grid-template-columns: 200px 1fr;
}

.acc-detail-header {
    background-color: #cccccc;
    color: #1d1d1d;
}

.acc-detail-body {
    background-color: #1d1d1d;
    color: #CCC;
}

.acc-detail-header, .acc-detail-body {
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    padding-inline: 10px;
}

.new-acc-select {
    all: unset;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.acc-detail-body.select-control {
    position: relative;
}

.acc-detail-body.select-control::before {
    position: absolute;
    content: "▼";
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #CCC;
    z-index: 1000;
}

.account-container.create {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-acc-btn {
    all: unset;
    cursor: pointer;
    width: 100px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    text-align: center;
    background-color: #1d1d1d;
    margin-top: 25px;
    margin-right: 20px;
}

.beneficiary-container {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-main-req {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-main-req-div {
    background-color: #1d1d1d;
    border: 3px solid #ccc;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
}

.request {
    font-size: 19px;
    height: 40px;
    border-radius: 10px;
    padding: 6px;
    outline: none;
    color: white;
    background-color: #333;
}

.credit {
    font-size: 19px;
    height: 40px;
    border-radius: 10px;
    padding: 6px;
    color: white;
    outline: none;
    background-color: #333;
}

.amount {
    font-size: 19px;
    height: 40px;
    border-radius: 10px;
    padding: 6px;
}

.transfer-btn {
    width: 100%;
}

.trans {
    width: 100%;
    
    font-size: 19px;
    height: 40px;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
}

.beneficiary-list {
    width: 100%;
    height: 100%;
    overflow: auto;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
    background-color: #252525;
}

table {
    border-radius: 15px;
    overflow: hidden;
}

tr {
    border-radius: 15px;
}

.beneficiary-list-base {
    padding: 50px;
}