.loan-container {
    position: relative;
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.no-req {
    background-color: transparent;
    border: #ccc 3px dashed;
    color: #ccc;
    height: 100%;
}

.recent-transaction.no-req {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    color: #ccc;
    height: 150px;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bolder;
    justify-content: center;
    border: #ccc 2px dashed;
}

.pay-req-acc {
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50%;
    font-size: 1.2rem;
    font-weight: bold;
}

.no-req img {
    filter: invert(0%);
}

.recent-loan-header,
.recent-loan {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30px 2px 1fr 2px 1fr 2px 1fr 2px 1.5fr 2px 1.5fr 2px 1fr;
}

.recent-loan-header {
    background: #CCC;
    margin-top: 15px;
    margin-bottom: 10px;
}

.recent-loan-header .recent-loan-card {
    color: #1d1d1d;
    font-weight: bolder;
}

.recent-loan {
    color: #ccc;
    background: #252525;
    margin-bottom: 10px;
}

.recent-loan-card {
    color: #ccc;
}

.recent-loan-divider {
    height: 100%;
    width: 1px;
    background-color: #666;
}

.recent-loan-header .recent-loan-divider {
    background-color: var(--secondary-color);
}

.dash-recent-loan-div {
    background-color: #1d1d1d;
    padding: 20px;
    color: #CCC;
    height: calc(100vh - 200px);
    border-radius: 15px;
}

.dash-recent-loans {
    height: calc(100vh - 220px - 105px);
    overflow: scroll;
}

.loan-opt-buttons {
    width: 100%;
    padding: 20px;
    display: flex;
    border-radius: 15px;
    background-color: #1d1d1d;
    justify-content: space-between;
}

.loan-opt-btn {
    background-color: #ccc;
    color: #1d1d1d;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
}

.apply-loan-div {
    width: 100%;
    height: max-content;
    color: #ccc;
    padding: 20px;
    display: flex;
    gap: 10px;
    border-radius: 15px;
    flex-direction: column;
    background-color: #1d1d1d;
}

.apply-loan-form {
    height: 100%;
}

.account-details {
    padding: 15px;
    opacity: 0.65;
    display: grid;
    color: #fff;
    grid-gap: 20px;
    height: 100%;
    grid-template-columns: 1fr 2px 1fr 2px 1fr;
}

.account-details h5 {
    color: #CCC;
}

.account-details h4 {
    color: #FFF;
    font-size: 1.15rem;
}

.apply-loan-form .form-input {
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    width: 75%;
}

.account-details-card button {
    width: 75%;
    height: 50px;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: crimson;
}

.apply-loan-form .form-input[readonly] {
    background-color: #aaa;
}