.settings-container {
    padding: 50px;
    color: #ccc;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.set-grid {
    display: grid;
    row-gap: 5px;
    column-gap: 20px;
    width: fit-content;
    grid-template-columns: 1fr 1fr;
}

.set-grid label {
    font-size: 0.9rem;
    color: #aaa;
    grid-column: span 2;
}

.set-grid input {
    all: unset;
    color: #eee;
    font-weight: bolder;
}

.set-grid button {
    all: unset;
    color: #eee;
    width: 15px;
    height: 15px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

button.save {
    background-image: url("../../img/icons/save.png");
}

button.edit {
    background-image: url("../../img/icons/edit.png");
}

button#passEye {
    background-image: url("../../img/icons/eye.png");
}

button#passEye.hide {
    background-image: url("../../img/icons/hide.png");
}

button.delete {
    background-image: url("../../img/icons/delete.png");
}